.blurb-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em 1.1em;
  padding: 0.25em;
  margin: 2.5rem 0;
}

.blurb-card {
  display: flex;
  flex-direction: column;
  background: var(--white-antique-opac-m);
  border-radius: 3px;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px,
    var(--green-metal) 0px 0px 0px 3px;
}

.blurb-card__body,
.blurb-card__footer > .author {
  transition: all 0.2s ease;
}

.blurb-card__body {
  height: 100%;
  padding: 3.5em 1.5em;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.blurb-card__body:hover {
  background-color: var(--white-antique-opac-l);
}

.blurb-card__body .title {
  font-size: 1.45rem;
  font-weight: 700;
  font-family: var(--font-prompt);
  color: var(--green-metal);
  letter-spacing: 1.5px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.blurb-card__footer {
  padding: 0.7em 0.4em;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  background-color: var(--green-metal);
  clear: both;
}

.blurb-card__footer > .author {
  float: right;
  color: var(--grey);
  font-size: 0.7rem;
  font-family: var(--font-raleway);
  font-style: italic;
  letter-spacing: 1.4px;
}

.blurb-card__footer > .author:hover {
  color: var(--white-antique);
}

@media screen and (min-width: 1400px) {
  .blurb-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 992px) and (max-width: 1400px) {
  .blurb-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  .blurb-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 576px) {
  .blurb-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
