.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: 'Raleway', sans-serif;
  padding: 2.2em 2.8em;
  color: var(--white);
  background-color: var(--green-jungle);
  text-transform: uppercase;
  overflow: hidden;
}
.navbar > div {
  align-self: center;
}
.navbar > div.left {
}
.navbar > div.middle {
  text-align: center;
}
.navbar > div.right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0.5em;
  text-align: right;
}
.navlink {
  padding: 0.7em 0.4em;
  transition: all 0.3s linear;
  border: 3px solid transparent;
}
.navlink:hover {
  border-bottom: 3px solid white;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .navbar {
    padding: 1.5em;
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    padding: 1.5em 1.2em;
  }
}
