.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: 'Raleway', sans-serif;
  padding: 1em 2.5em;
  color: var(--white);
  background-color: var(--green-jungle);
  text-transform: uppercase;
  overflow: hidden;
}
.navbar > div {
  align-self: center;
}
.navbar > div.middle {
  text-align: center;
}
.navbar > div.right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0.5em;
  text-align: right;
}
.navlink {
  font-size: 1.1em;
  padding: 0.7em 0.4em;
  transition: all 0.3s linear;
  border: none;
  border-bottom: 3px solid transparent;
  font-weight: 500;
}
.navlink:hover {
  border-bottom: 3px solid white;
}
.navicon {
  width: 40px;
  height: 40px;
  transform: scale(1.5);
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .navbar {
    padding: 1.5em;
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    padding: 1em 1.2em;
  }
  .navlink {
    font-size: 0.9em;
  }
  .navicon {
    transform: scale(1.2);
  }
}
